body{
    margin: 0;
    padding:0;
}
.main-container{
    width: 650px;
    height: 1354px;
    margin: 0 auto;
    border: 5px solid #ececec;
    /* padding: 15px; */

}
.container{
    width: 604px;
    margin: 0px auto;
}
.logo-img{
    height: 40px;
    width: 250px;
}
.logo{
    width: 50%;
    float: left;
}
.add{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 50%;
    float: left;
    text-align: right;
    margin: 0px;
}
.add>span{
    font-weight: bold;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.add a{
    color: green;
    text-decoration: none;
}
.header-top{
    width: 100%;
    float: left;
    margin-top: 25px;
    margin-bottom: 25px;
 }
.header-bottom{
   width: 100%;
   float: left;
height: 300px;
   /* background-color: lawngreen;  */
}
.banner{
    position: relative;
    bottom: 115px;
}

 .banner p{
    text-align: center;
    position: relative;
    top: 117px;
    left: 150px;
    font-weight: bold;
    font-size: 28px;
 }
 .fa-twitter-square{
   color: lightskyblue;
   font-size: 30px;
 }
 .social-icon{
    float: left;
    text-align: right;
    position: relative;
    left: 475px;
    bottom: 38px;
 }
 .left{
     width: 400px;
     float: left;
 }
 .left h2{
     font-family: Georgia, 'Times New Roman', Times, serif;
     color: green;
     font-size: 25px;
     font-weight: normal;
 }
 .left a{
     float: left;
     text-decoration: none;
     color: green;
     text-align: right;
     width: 100%;
     border-bottom: 2px solid #ececec;
     padding-bottom: 5px;
     margin-bottom: 20px;
 }
 .left img{
     margin: 10px 0;
 }
 .bor{
    border-bottom: 2px solid #ececec;
    padding-bottom: 20px;
 }
 .nostyle{
     border: none !important;
 }